
{% include "header.html" %}
<body>
<section id="aboutMe">
    <header>
        <h1>About me</h1>
    </header>
    <article>
        <img src="{{ about_me.photo }}" width="150" height="150">
        <img src="nogerbijdoen">
        <img src="lololol">
    </article>
    <article>
        {{ test }} {{ name }}
        {{ about_me }}
        {{ about_me.name }}
        {{ about_me.photo }}
        {{ about_me.address }}
        {{ about_me.phone_number }}
        {{ about_me.email_address }}
        {{  about_me.github }}
        {{ about_me.linkedIn }}
        {{ about_me.about_me }}
    </article>
</section>

</body>
</html>