{% include "header.html" %}
{% load static %}
<body>
<section id="worke">
{% for x in educationexperiences %}
    <section>
        <section>
            <img src="{{ x.photo.url }}">
        </section>
        <section>
            <h2>{{ x.name }} {{ x.company }}</h2>

            <h4>{{ x.from_date }} - {{ x.to_date }}</h4>
             <p>{{ x.description }}</p>
        {% if x.propaedeutic_exam_date is not null%}
            <h3>Propaedeutic exam: {{ x.propaedeutic_exam_date }}</h3>
            {% endif %}
            {% if x.degree_date  is not null %}

            <h3> Degree: {{ x.degree_date }} </h3>
            {% endif %}
        
        </section>
{% endfor %}


    </section>
</body>
</html>