{% include "header.html" %}
{% load static %}
<body>
<section id="worke">
{% for x in educationexperiences %}
    <section>
        <section class="photo">
            <img src="{{ x.photo.url }}">
        </section>
        <section class="description">
            <h2>{{ x.name }} @ {{ x.company }}</h2>

            <b>{{ x.from_date }} - {{ x.to_date }}</b>
             <p>{{ x.description }}</p>
        {% if x.propaedeutic_exam_date is not null%}
            <b>Propaedeutic exam: {{ x.propaedeutic_exam_date }}</b>
            {% endif %}
            {% if x.degree_date  is not null %}

            <b> Degree: {{ x.degree_date }} </b>
            {% endif %}
        
        </section>
{% endfor %}


    </section>
</body>
</html>