{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<header>

    <a href="{% url 'app_aboutMe:index' %}"">Home</a>
    <a href="{% url 'app_worke:index'%}"> Workexperience</a>
    <a href="{% url 'app_educatione:index' %}">Education</a>
    <a href="{% url  'app_skills:index' "> Skills </a>
    <a href="{% url 'app_portfolio:index' "> Portfolio</a>
    <form action="{% url 'set_language' %}" method="post" class="form-inline col-3 col-sm-3 col-md-3 col-lg-2 col-xl-2">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" class="form-control">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}"  {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
            {{ language.name_local }} ({{ language.code }})

            </option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary col-3 col-sm-3 col-md-3 col-lg-2 col-xl-2" value="Go">
    </form>
    {% get_current_language as LANGUAGE_CODE %}
    LANGUAGE_CODE: {{ LANGUAGE_CODE }}
</header>
