{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="container">
<header class="header">
      {% get_current_language as CURRENT_LANGUAGE %}
      {% get_available_languages as AVAILABLE_LANGUAGES %}
      {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
      <div class="languages">
        <p>{% trans "Language" %}:</p>
        <ul class="languages nav bg-info"">
          {% for language in languages %}
            <li class="nav-item">
              <a  class="nav-link link-light"  href="/{{ language.code }}/"
                {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                {{ language.name_local }}

              </a>
            </li>
          {% endfor %}
        </ul>
    {% get_current_language as LANGUAGE_CODE %}
    LANGUAGE_CODE: {{ LANGUAGE_CODE }}
          <nav>
         <ul class="nav bg-info">>
            <li class="nav-item">
                  <a  class="nav-link link-light" href="{% url 'app_aboutMe:index' %}">{% trans "Home" noop %}</a>
            </li>
              <li class="nav-item">
                  <a  class="nav-link link-light" href="{% url 'app_worke:index'%}"> {% trans "Workexperience" noop %}</a>
              </li>
                <li class="nav-item">
                     <a  class="nav-link link-light" href="{% url 'app_educatione:index' %}">{% trans "Education" noop %}</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link link-light" href="{% url 'app_portfolio:index' %}"> {% trans "Portfolio" noop %}</a>
                </li>
             <li class="nav-item">
                  <a  class="nav-link link-light" href="{% url 'app_skills:index' %}"> {% trans "Skills" noop %}</a>
             </li>
              <li class="nav-item">
                  <a  class="nav-link link-light" href="{% url 'app_blog:index' %}"> {% trans "Blog" noop %}</a>
             </li>
            </ul>
    </nav>
</header>
