{% include "header.html" %}
{% load static %}
{% load i18n %}
<body>
<section id="worke">
{% for x in workexperiences %}
    <section>
        <section>
            <img src="{{ x.photo }}">
        </section>
        <section>
            <h2>{% translate x.name %}</h2>
             <h4> {{ x.from_date }} - {{ x.to_date }}</h4>

            <h2>{% translate x.company  %}</h2>
             <h3>{% translate  x.description %}</h3>
            </section>
        
        </section>
{% endfor %}


    </section>
</body>
</html>