{% include "header.html" %}
{% load static %}
{% load i18n %}
<body>
<section id="worke">
{% for x in workexperiences %}
    <section class="work">
        <section class="photo">
            <img src="{{ x.photo.url }}">
        </section>
        <section class="descripion">
            <h2>{% trans x.name noop %} @ {% trans x.company noop %} </h2>
             <b> {{ x.from_date }} - {{ x.to_date }}</b>
             <p class="des">{% trans x.description noop%}</p>
            </section>
        
        </section>
{% endfor %}


    </section>
</body>
</html>